<div class="container-fluid">

    <div class="row">
        <div class="col-lg-3">
            <!-- <app-search (emitter)="assignCars($event)"></app-search> -->
        </div>
        <div class="col-lg-9" *ngIf="ads && ads.length != 0; else noAds">
            <div class="row">
                <div class="col-lg-2" *ngFor="let ad of ads">
                    <div class="card">
                        <img [src]="ad.imageUrl" class="card-img-top" alt="Ad image">
                        <div class="card-body">
                            <h5 class="card-title">{{ ad.title }}</h5>
                            <p class="card-text">${{ ad.price }}</p>
                            <!-- <a routerLink="/{{ad.id}}" class="btn btn-primary">Details</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
    </div>
    <ng-template class="row" #noAds>
        <h1>No Ads Found</h1>
    </ng-template>

</div>