<div class="container">
    <div class="row">
        <div class="col-lg-4" *ngFor="let c of categories">
            <div class="card img-responsive">
                <img [src]="c.imageUrl" alt="image">
                <div class="card-img-overlay">
                    <h4 class="card-title">{{c.name}}</h4>
                    <div class=action>
                        <a routerLink="/categories/{{c.id}}/ads" class="btn btn-outline-info">Show ads</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>