<div class="container" *ngIf="ad">
    <div class="row">
        <div class="col-lg-6" style="border-right: 2px solid darkgrey;">
            <img [src]="ad.imageUrl" alt="Ad image">
        </div>
        <div class="col-lg-6">
            <h4>{{ ad.title }}</h4>
            <hr />
            <h5>Price: ${{ ad.price }}</h5>
            <hr />
            <h5>{{ ad.description }}</h5>
            <hr />
            <h5>Category: {{ ad.category }}</h5>
            <hr />
            <div>
                <h3>Contact me:</h3>
                <!-- <h5>{{ user.name }}</h5> -->
                <h5>{{ user.email }}</h5>
                <h5>{{ user.phoneNumber }}</h5>
            </div>
        </div>
    </div>
</div>