<div class="container-fluid">
    <div class="row" *ngIf="ads && ads.length != 0; else noads">
        <div class="col-lg-3">
            <!-- <app-search (emitter)="assignAds($event)"></app-search> -->
        </div>
        <div class="col-lg-2" *ngFor="let ad of ads">
            <div class="card">
                <button class="btn btn-outline-info" (click)="changeAvailability(ad.id.toString())"
                        *ngIf="!ad.isActive">Show</button>
                <button class="btn btn-outline-info" (click)="changeAvailability(ad.id.toString())"
                        *ngIf="ad.isActive">Hide</button>
                <img [src]="ad.imageUrl" class="card-img-top" alt="Ad image">
                <div class="card-body">
                    <h5 class="card-title">{{ ad.title }}</h5>
                    <p class="card-text">${{ ad.price }}</p>
                    <div *ngIf="ad.isActive">
                        <a routerLink="/ads/{{ad.id}}" class="btn btn-outline-info">Details</a>
                        <a routerLink="/ads/{{ad.id}}/edit" class="btn btn-outline-warning">Edit</a>
                        <button class="btn btn-outline-danger" (click)="open(deletemodal)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template class="row" #noads>
        <h3>No ads found</h3>
    </ng-template>
</div>

<ng-template #deletemodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Do you want to delete this item?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Delete click')">Delete</button>
    </div>
</ng-template>













<!-- <app-pop-up class="my-prompt" [isOpen]="popUpOpen">
    <div class="pop-up-box" style="width: 30%">

        <div class="box">
            <header>
                <span class="title">Delete item?</span>
            </header>
            <main>
                Are you sure you want to delete this item?
            </main>
            <footer style="margin-top: 10%;">
                <button class="btn btn-primary" (click)="deleteCar()"
                        style="width: 25%; background-image: linear-gradient(#2D6AC6, #0747A6);">Delete</button>
                <button class="btn btn-light" (click)="cancelModal()"
                        style="margin-left: 25%; width: 25%; background-image: linear-gradient(#FFFFFF ,#DBE2EC); color: #0747A6;">Cancel</button>
            </footer>
        </div>

    </div>
</app-pop-up> -->