<div class="container-fluid">
    <div class="row" *ngIf="ads && ads.length != 0; else noads">
        <div class="col-lg-2" *ngFor="let ad of ads">
            <div class="card">
                <button class="btn btn-outline-info" (click)="changeAvailability(ad.id.toString())"
                        *ngIf="!ad.isActive">Show</button>
                <button class="btn btn-outline-info" (click)="changeAvailability(ad.id.toString())"
                        *ngIf="ad.isActive">Hide</button>
                <img [src]="ad.imageUrl" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{ad.title}}</h5>
                    <p class="card-text">${{ad.price}}</p>
                    <div>
                        <a routerLink="/ads/{{ad.id}}" class="btn btn-outline-info">Details</a>
                        <a routerLink="/ads/{{ad.id}}/edit" class="btn btn-outline-warning">Edit</a>
                        <button class="btn btn-outline-danger" (click)="open(deletemodal)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template class="row" #noads>
        <h3>You have no ads</h3>
    </ng-template>
</div>

<ng-template #deletemodal let-modal>
    <div class="modal-body">
        <h4>Are you sure you want to delete ad?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Delete click')">Delete</button>
    </div>
</ng-template>